@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-slow {
  from { transform: rotate(45deg); }
  to { transform: rotate(405deg); }
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}
